.two-content{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  align-items: center;
}

.login-invitation-logo {
  height: 250px;
  width: 250px;
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


@media (max-width: 1000px) {
  .two-content {
    width: 85%;
  }
}

@media (max-width: 900px) {
  .two-content {
    width: 90%;
  }
}

@media (max-width: 800px) {
  .two-content {
    flex-direction: column;
  }
  .login-invitation-logo-container {
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .two-content {
    width: 95%;
  }
}

@media (max-width: 450px) {
  .two-content {
    width: 100%;
  }
}
