.movies-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 316px);
  column-gap: 30px;
  row-gap: 30px;
  justify-content: center;
  &-div {
    width: 95%;
  }
}

// .carousel-movie-title {
//   position: absolute;
//   top: 0px
// }
