.form-password-input {
  position: relative;
  &-toggler {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 5;
    background-color: white;
    border-radius: 50%;
  }
}